In [90]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [91]:
data=pd.read_csv("/content/Company_Data (1).csv")

In [92]:
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [93]:
data.shape

(400, 11)

In [94]:
data.dtypes

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [95]:
#threshold for sales is set as 10, to convert to categorical data
data['target']=data.Sales.map(lambda x:1 if x>10 else 0)
data['ShelveLoc']=data['ShelveLoc'].astype('category')
data['Urban']=data['Urban'].astype('category')
data['US']=data['US'].astype('category')
#converting categorical data to numeric
data['ShelveLoc']=data['ShelveLoc'].cat.codes
data['Urban']=data['Urban'].cat.codes
data['US']=data['US'].cat.codes
data.tail()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,target
395,12.57,138,108,17,203,128,1,33,14,1,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1,0
397,7.41,162,26,12,368,159,2,40,18,1,1,0
398,5.94,100,79,7,284,95,0,50,12,1,1,0
399,9.71,134,37,0,27,120,1,49,16,1,1,0

In [96]:
#feature names
fn=['CompPrice','Income','Advertising','Population','Price','ShelveLoc','Age','Education','Urban','US','target']
x=data[fn]

In [97]:
#sales categorical data
y=data.target

In [98]:
print(y)

0      0
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    0
Name: target, Length: 400, dtype: int64

In [99]:
print(x)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
0          138      73           11         276    120          0   42
1          111      48           16         260     83          1   65
2          113      35           10         269     80          2   59
3          117     100            4         466     97          2   55
4          141      64            3         340    128          0   38
..         ...     ...          ...         ...    ...        ...  ...
395        138     108           17         203    128          1   33
396        139      23            3          37    120          2   55
397        162      26           12         368    159          2   40
398        100      79            7         284     95          0   50
399        134      37            0          27    120          1   49

     Education  Urban  US  target
0           17      1   1       0
1           10      1   1       1
2           12      1   1       1
3           14      1   1       0
4           13      1   0       0
..         ...    ...  ..     ...
395         14      1   1       1
396         11      0   1       0
397         18      1   1       0
398         12      1   1       0
399         16      1   1       0

[400 rows x 11 columns]

In [100]:
#splitting the x and y into train and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=32)

In [101]:
#training a model
model=BaggingClassifier(DecisionTreeClassifier(max_depth=6),random_state=0)
model=AdaBoostClassifier(DecisionTreeClassifier(max_depth=6),random_state=0)

In [102]:
model=model.fit(x_train,y_train)
y_predict=model.predict(x_test)

In [103]:
print("Accuracy: ",accuracy_score(y_test,y_predict)*100,"%")

Accuracy:  100.0 %

In [104]:
print(confusion_matrix(y_test,y_predict))

[[70  0]
 [ 0 10]]

In [105]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        70
           1       1.00      1.00      1.00        10

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

In [106]:
#an accuracy of 100%