In [52]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [53]:
df_train=pd.read_csv("/content/SalaryData_Train.csv")

In [54]:
df_test=pd.read_csv("/content/SalaryData_Test.csv")

In [55]:
df_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [56]:
df_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [57]:
df_train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [58]:
df_test.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [59]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df_train['Salary']=le.fit_transform(df_train['Salary'])
df_test['Salary']=le.fit_transform(df_test['Salary'])

In [60]:
df_test1=pd.get_dummies(df_test)
df_train1=pd.get_dummies(df_train)

In [61]:
from sklearn.model_selection import train_test_split

In [64]:
x_train=df_train1.drop('Salary',axis=1)
y_train=df_train1.iloc[:,-1]
y_test=df_test1.iloc[:,-1]
x_test=df_test1.drop('Salary',axis=1)

In [66]:
#using GaussianNB from naive bayes
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()
classifier.fit(x_train,y_train)

GaussianNB()

In [67]:
classifier.score(x_test,y_test)

0.9828021248339973

In [68]:
#prediction
pred=classifier.predict(x_test)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [74]:
from sklearn.naive_bayes import MultinomialNB
classifier1=MultinomialNB()
classifier1.fit(x_train,y_train)

MultinomialNB()

In [75]:
classifier1.score(x_test,y_test)

0.1298140770252324

In [76]:
from sklearn.naive_bayes import BernoulliNB
classifier2=BernoulliNB()
classifier2.fit(x_train,y_train)

BernoulliNB()

In [77]:
classifier2.score(x_test,y_test)

0.999933598937583