In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv("/content/forestfires.csv")

In [ ]:
df.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [ ]:
df.isnull().sum()

month            0
day              0
FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [ ]:
df['size_category'].value_counts()

small    378
large    139
Name: size_category, dtype: int64

In [ ]:
df['size_category']=df['size_category'].astype('category')
df['size_category']=df['size_category'].cat.codes

In [ ]:
df['size_category'].value_counts()

1    378
0    139
Name: size_category, dtype: int64

In [ ]:
def norm_data(i):
  x=((i-i.min())/(i.max()-i.min()))
  return x
normalized_data=norm_data(df.iloc[:,2:-1])

In [ ]:
normalized_data

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,0.870968,0.086492,0.101325,0.090909,0.192926,0.423529,0.700000,0.00000,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.927742,0.118194,0.775419,0.119430,0.508039,0.211765,0.055556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.927742,0.146795,0.796294,0.119430,0.398714,0.211765,0.100000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.941935,0.110958,0.081623,0.160428,0.196141,0.964706,0.400000,0.03125,0.000000,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.910968,0.172984,0.110590,0.171123,0.295820,0.988235,0.155556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,0.811613,0.191592,0.771315,0.033868,0.823151,0.200000,0.255556,0.00000,0.005904,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
513,0.811613,0.191592,0.771315,0.033868,0.633441,0.658824,0.600000,0.00000,0.049769,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,0.811613,0.191592,0.771315,0.033868,0.610932,0.647059,0.700000,0.00000,0.010231,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
515,0.976774,0.499311,0.711622,0.201426,0.752412,0.317647,0.400000,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
516,0.784516,0.006547,0.115867,0.019608,0.308682,0.188235,0.455556,0.00000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
X=normalized_data
y=df['size_category']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size =0.3,random_state =42)

In [ ]:
n_features=X.shape[1]
n_features

28

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((361, 28), (156, 28), (361,), (156,))

In [ ]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import tensorflow
from tensorflow.keras import Sequential
from tensorflow.keras.optimizers import RMSprop

In [ ]:
optmizer =RMSprop(0.001)#0.01 is a learning rate
model =keras.Sequential([
    keras.layers.Dense(12,input_dim =28,activation='relu'),
    keras.layers.Dense(50,activation ='sigmoid'),
    keras.layers.Dense(1,activation='sigmoid')
])
model.compile(optimizer =optmizer,loss= 'binary_crossentropy',metrics =['accuracy'])

In [ ]:
seed_value=42
import random
random.seed(seed_value)
tensorflow.random.set_seed(seed_value)

In [ ]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10
12/12 [==============================] - 2s 7ms/step - loss: 0.5868 - accuracy: 0.7285
Epoch 2/10
12/12 [==============================] - 0s 7ms/step - loss: 0.5860 - accuracy: 0.7285
Epoch 3/10
12/12 [==============================] - 0s 7ms/step - loss: 0.5847 - accuracy: 0.7285
Epoch 4/10
12/12 [==============================] - 0s 7ms/step - loss: 0.5847 - accuracy: 0.7285
Epoch 5/10
12/12 [==============================] - 0s 4ms/step - loss: 0.5846 - accuracy: 0.7285
Epoch 6/10
12/12 [==============================] - 0s 7ms/step - loss: 0.5849 - accuracy: 0.7285
Epoch 7/10
12/12 [==============================] - 0s 4ms/step - loss: 0.5842 - accuracy: 0.7285
Epoch 8/10
12/12 [==============================] - 0s 7ms/step - loss: 0.5835 - accuracy: 0.7285
Epoch 9/10
12/12 [==============================] - 0s 4ms/step - loss: 0.5826 - accuracy: 0.7285
Epoch 10/10
12/12 [==============================] - 0s 8ms/step - loss: 0.5830 - accuracy: 0.7285

In [ ]:
model.evaluate(X_test,y_test)

5/5 [==============================] - 0s 5ms/step - loss: 0.5750 - accuracy: 0.7372

[0.5749582052230835, 0.7371794581413269]

In [ ]:
y_pred=model.predict(X_test)

In [ ]:
y_pred[25]

array([0.738981], dtype=float32)

In [ ]:
y_test[25]

1

In [ ]:
optmizer =RMSprop(0.001)#0.01 is a learning rate
model =keras.Sequential([
    keras.layers.Dense(12,input_dim =28,activation='relu'),
    keras.layers.Dense(50,activation ='sigmoid'),
    keras.layers.Dense(1,activation='sigmoid')
])
model.compile(optimizer =optmizer,loss= 'binary_crossentropy',metrics =['accuracy'])

In [ ]:
seed_value=42
import random
random.seed(seed_value)
tensorflow.random.set_seed(seed_value)

In [ ]:
model.fit(X_train,y_train,epochs=20)

Epoch 1/20
12/12 [==============================] - 2s 3ms/step - loss: 0.8129 - accuracy: 0.2715
Epoch 2/20
12/12 [==============================] - 0s 3ms/step - loss: 0.6880 - accuracy: 0.5429
Epoch 3/20
12/12 [==============================] - 0s 3ms/step - loss: 0.6296 - accuracy: 0.7285
Epoch 4/20
12/12 [==============================] - 0s 3ms/step - loss: 0.6001 - accuracy: 0.7285
Epoch 5/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5874 - accuracy: 0.7285
Epoch 6/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5857 - accuracy: 0.7285
Epoch 7/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5850 - accuracy: 0.7285
Epoch 8/20
12/12 [==============================] - 0s 6ms/step - loss: 0.5842 - accuracy: 0.7285
Epoch 9/20
12/12 [==============================] - 0s 7ms/step - loss: 0.5832 - accuracy: 0.7285
Epoch 10/20
12/12 [==============================] - 0s 4ms/step - loss: 0.5838 - accuracy: 0.7285
Epoch 11/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5824 - accuracy: 0.7285
Epoch 12/20
12/12 [==============================] - 0s 7ms/step - loss: 0.5820 - accuracy: 0.7285
Epoch 13/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5812 - accuracy: 0.7285
Epoch 14/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5808 - accuracy: 0.7285
Epoch 15/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5802 - accuracy: 0.7285
Epoch 16/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5801 - accuracy: 0.7285
Epoch 17/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5790 - accuracy: 0.7285
Epoch 18/20
12/12 [==============================] - 0s 3ms/step - loss: 0.5794 - accuracy: 0.7285
Epoch 19/20
12/12 [==============================] - 0s 6ms/step - loss: 0.5781 - accuracy: 0.7285
Epoch 20/20
12/12 [==============================] - 0s 4ms/step - loss: 0.5787 - accuracy: 0.7285