In [108]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

In [109]:
data=pd.read_csv("/content/Fraud_check.csv")

In [110]:
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [111]:
data.dtypes

Undergrad          object
Marital.Status     object
Taxable.Income      int64
City.Population     int64
Work.Experience     int64
Urban              object
dtype: object

In [112]:
data.shape

(600, 6)

In [113]:
data_org=data

# Random forest classifier

In [114]:
x_df=data.drop(['Taxable.Income'],axis=1)
data['Taxable.Income']=data['Taxable.Income'].map(lambda x:1 if x>30000 else 0)
data['Marital.Status']=data['Marital.Status'].astype('category')
data['Urban']=data['Urban'].astype('category')
data['Undergrad']=data['Undergrad'].astype('category')

#converting categorical data to numeric
data['Marital.Status']=data['Marital.Status'].cat.codes
data['Urban']=data['Urban'].cat.codes
data['Undergrad']=data['Undergrad'].cat.codes
data.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,0,2,1,50047,10,1
1,1,0,1,134075,18,1
2,0,1,1,160205,30,1
3,1,2,1,193264,15,1
4,0,1,1,27533,28,0

In [115]:
x_df=data.drop(['Taxable.Income'],axis=1)

In [116]:
x=x_df.to_numpy()

In [117]:
y=data['Taxable.Income'].to_numpy()

In [118]:
#Random Forest Classification
num_trees=300
max_features=3
kfold=KFold(n_splits=10)
model=BaggingClassifier(RandomForestClassifier(n_estimators=num_trees,max_features=max_features),random_state=6)
model=AdaBoostClassifier(RandomForestClassifier(n_estimators=num_trees,max_features=max_features),random_state=6)
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.7416666666666666

In [119]:
num_trees=100
max_features=3
kfold=KFold(n_splits=10)
model=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.7449999999999999

# Using Get dummies

In [120]:
x_check_df=pd.get_dummies(data_org)

In [121]:
x_check_df=x_check_df.drop(['Taxable.Income'],axis=1)

In [122]:
x_check=x_check_df.to_numpy()

In [123]:
num_trees=300
max_features=3
kfold=KFold(n_splits=10)
model=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)
results=cross_val_score(model,x_check,y,cv=kfold)
print(results.mean())

0.74